@import "./variables.scss";
@import "./components/header.scss";
@import "./components/posts.scss";
@import "./components/sidebar.scss";
@import "./components/ui/modal.scss";

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $black;
  display: grid;
  grid-template-areas:
    "header header header header"
    ". posts sidebar .";
  grid-template-columns: 0.95fr 2.2fr 1.1fr 0.95fr;
  grid-gap: 70px 30px;
}
